@{

	Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div style="height: 100vh; padding-top: 250px;">
	<h1 class="text-center fw-bolder" style="color: #2E8B57; font-size: 4rem; letter-spacing: 1px;">
		Welcome back, Admin!
	</h1>

</div>

