@model AdminLogin

<div asp-validation-summary="All" style="color:red"></div>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	 data-sidebar-position="fixed" data-header-position="fixed">
	<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
		<div class="d-flex align-items-center justify-content-center w-100">
			<div class="row justify-content-center w-100">
				<div class="col-md-6 col-lg-4 col-xxl-3">
					<div class="card mb-0">
						<div class="card-body">
							<a class="text-dark navbar-brand fw-bold text-nowrap logo-img text-center d-block py-3 w-100" asp-controller="Home" asp-action="Index"><span class="flaticon-pawprint-1 text-success mr-2"></span>Pet Care</a>


							<h4 class="text-center fw-bold mb-4">Administrator Login</h4>
							<form asp-action="Login" asp-controller="Account" method="post">

								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Email Address</label>
									<input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
									<span asp-validation-for="Email" style="color:red"></span>
								</div>
								<div class="mb-4">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
									<span asp-validation-for="Password" style="color:red"></span>
								</div>
								<button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">Login</button>

								<div class="d-flex align-items-center justify-content-center">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<p style="color:red">@ViewBag.Error</p>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
