



<!DOCTYPE html>
<html lang="en">

<body>




	<div class="hero-wrap js-fullheight" style="background-image: url('@Url.Content("~/images/bg_1.jpg")');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-11 ftco-animate text-center">
					<h1 class="mb-4">Welcome to PetCare</h1>
					<h5 style="color: white;">
						We provide professional pet care services with love and expertise.
						From grooming to veterinary care, we treat every pet like our own family. Your pet's
						happiness is our top priority.
					</h5>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section bg-light ftco-no-pt ftco-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
					<div class="d-block services active text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-blind"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Dog Walking</h3>
							<p>Keep your furry friend healthy and happy with our professional dog walking services. Our experienced walkers provide safe, fun, and regular walks tailored to your pet's needs. Give your dog the exercise they deserve with love and care</p>
							<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
					<div class="d-block services text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-dog-eating"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Pet Daycare</h3>
							<p>Leave your pet in caring hands while you're away! Our pet daycare provides a safe, fun, and loving environment where your furry friend can play, socialize, and relax. From morning till evening, we ensure your pet receives proper attention, exercise, and lots of love</p>
							<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
					<div class="d-block services text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-grooming"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Pet Grooming</h3>
							<p>Give your pet the spa experience they deserve! Our professional grooming services include bath, haircut, nail trimming, and ear cleaning, all done with gentle care. Let your furry friend look and feel their best</p>
							<a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>









	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Pet Services</h2>
				</div>
			</div>
			<div class="row">
				<!-- Package 1 -->
				<div class="col-md-4 ftco-animate">
					<div class="block-7">
						<div class="img" style="background-image: url('@Url.Content("~/images/pricing.jpg")');"></div>
						<div class="text-center p-4">
							<span class="excerpt d-block">Premium Grooming</span>
							<p>Give your pet a stylish & clean look with professional grooming</p>
							<span class="text-success">Starting from Rs. 500</span>


							<ul class="pricing-text mb-5">
								<li><span class="fa fa-check mr-2"></span>Full Body Professional Grooming</li>
								<li><span class="fa fa-check mr-2"></span>Pet Bath with Herbal Shampoo</li>
								<li><span class="fa fa-check mr-2"></span>Nail Cutting & Ear Cleaning</li>
								<li><span class="fa fa-check mr-2"></span>Fur Styling & Hair Trimming</li>
							</ul>


						</div>
					</div>
				</div>

				<!-- Package 2 -->
				<div class="col-md-4 ftco-animate">
					<div class="block-7">
						<div class="img" style="background-image: url('@Url.Content("~/images/pricing-2.jpg")');"></div>
						<div class="text-center p-4">
							<span class="excerpt d-block">Pet Boarding</span>
							<p>Safe and comfortable home-like stay for your pets.</p>
							<span class="text-success">24/7 Care Available</span>
							<ul class="pricing-text mb-5">
								<li><span class="fa fa-check mr-2"></span>Home-like Comfortable Environment</li>
								<li><span class="fa fa-check mr-2"></span>Daily Feeding & Care Routine</li>
								<li><span class="fa fa-check mr-2"></span>Live CCTV Monitoring Access</li>
								<li><span class="fa fa-check mr-2"></span>Veterinary Support On Call</li>
							</ul>

						</div>
					</div>
				</div>

				<!-- Package 3 -->
				<div class="col-md-4 ftco-animate">
					<div class="block-7">
						<div class="img" style="background-image: url('@Url.Content("~/images/pricing-1.jpg")');"></div>
						<div class="text-center p-4">
							<span class="excerpt d-block">Dog Walking</span>
							<p>Daily walking service to keep your pet active and healthy</p>
							<span class="text-success">Flexible Timing</span>

							<ul class="pricing-text mb-5">
								<li><span class="fa fa-check mr-2"></span>Daily Dog Walking (30 Minutes Walk)</li>
								<li><span class="fa fa-check mr-2"></span>Morning & Evening Walk Service</li>
								<li><span class="fa fa-check mr-2"></span>Group Dog Walking (Social Activity)</li>
								<li><span class="fa fa-check mr-2"></span>Personal Trainer Assisted Walk</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Pets Gallery</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-1.jpg);">
						<a href="images/gallery-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Cat</span>
								<h2><a href="work-single.html">Persian Cat</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-2.jpg);">
						<a href="images/gallery-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Dog</span>
								<h2><a href="work-single.html">Pomeranian</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-3.jpg);">
						<a href="images/gallery-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Cat</span>
								<h2><a href="work-single.html">Sphynx Cat</a></h2>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-4.jpg);">
						<a href="images/gallery-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Cat</span>
								<h2><a href="work-single.html">British Shorthair</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-5.jpg);">
						<a href="images/gallery-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Dog</span>
								<h2><a href="work-single.html">Beagle</a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="work mb-4 img d-flex align-items-end" style="background-image: url(images/gallery-6.jpg);">
						<a href="images/gallery-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
							<span class="fa fa-expand"></span>
						</a>
						<div class="desc w-100 px-4">
							<div class="text w-100 mb-3">
								<span>Dog</span>
								<h2><a href="work-single.html">Pug</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center mt-5">
				<div class="col-md-4 text-center">
					<a asp-controller="Home" asp-action="Gallery" class="btn btn-primary py-3 px-4">
						View All Pets <i class="fa fa-arrow-right ml-2"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Latest news from our blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/image_1.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">April 07, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/image_2.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">April 07, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/image_3.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">April 07, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>










	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>






</body>
</html>
