@{

	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Product



<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
	<div class="w-50">
		<h2>Edit Product</h2>
		<form asp-action="Edit" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="Id" />
			<div class="mb-3">
				<input asp-for="Name"
					   class="form-control form-control-lg  rounded-2"
					   style="border-bottom: 4px solid gray;" />
			</div>
			<div class="mb-3">
				<select asp-for="Category" class="form-control form-control-lg rounded-2"
						style="border-bottom: 4px solid gray;">

					<option value="">Category</option>
					<option value="Pet Toy">Pet Toy</option>
					<option value="Cat Food">Cat Food</option>
					<option value="Dog Food">Dog Food</option>

				</select>
			</div>
			<div class="mb-3">
				<input asp-for="Price"
					   class="form-control form-control-lg  rounded-2"
					   style="border-bottom: 4px solid gray;" />
			</div>
			<div class="mb-3">
				<textarea asp-for="Description"
						  class="form-control form-control-lg  rounded-2"
						  style="border-bottom: 4px solid gray;"></textarea>
			</div>
			<div class="mb-3">
				<p>Current Image:</p>
				<img src="@Model.ImageUrl" width="100" class="mb-2" />

				<input asp-for="ImageFile" type="file"
					   class="form-control"
					   style="border-bottom: 4px solid gray;" />
			</div>

			<button type="submit" class="btn px-4 py-2 fw-bold text-white"
					style="background-color:#198754;"
					onmouseover="this.style.backgroundColor='#0d6efd';"
					onmouseout="this.style.backgroundColor='#198754';">
				Update
			</button>
		</form>

	</div>

</div>